@import './index.scss';

.main {
    position: relative;
    height: auto;
    padding: 1.5rem;
    max-width: 90rem;
    width: auto;
    margin: 0 auto;

    @media screen and (min-width:1080px) {
        padding: 7rem;
    }

    @media screen and (min-width:900px) and (max-width:1079px) {
        padding: 4rem;
    }

    .fixed-left {
        position: fixed;
        height: 100%;
        width: auto;
        background: transparent;
        z-index: 1000;

        @media screen and (max-width:850px) {
            width: 100%;
            display: block;
            height: auto;
            position: relative;
            margin-bottom: 4rem;
        }
    }

    .right {
        background: transparent;
        margin-left: calc(50% - 1.5rem);

        @media screen and (max-width:850px) {
            margin-left: 0;
        }
    }

    .title-sm {
        display: none;

        @media screen and (max-width:850px) {
            display: block;
            color: $Text-Primary;
            text-transform: uppercase;
            font-size: medium;
            margin: 2rem 0;
        }
    }
}

.pointer {
    display: none;
    width: 18rem;
    height: 18rem;
    position: fixed;
    background: radial-gradient(rgba(29, 78, 216, 0.15), transparent 80%);
    transform: translate(-50%, -50%);
    border-radius: 9999px;
    pointer-events: none;
    overflow: hidden;

    @media screen and (max-width:850px) {
        width: 15rem;
        height: 15rem;
    }
}